<h2>About</h2>

<div class="wide media">
  <div class="media-left hidden-xs">
    <a href="#">
      <img class="media-object" src="https://github.com/rscarson.png" alt="headshot">
    </a>
  </div>
   <div class="media-body">
    <h4 class="media-heading">Richard Carson</h4>
    <p>A Carleton software engineering graduate and Algonquin alumni with 9 years of industry experience. Combines the leadership skills and proactive problem-solving of engineering with excellence in programming and software design. Proven reliability and enthusiasm towards the design, development, and deployment of software.</p>

    <h5>Education</h5>
    <ul>
      <li><strong>Bachelor of Software Engineering (Carleton University) <small class="text-muted">2013 - 2017</small></strong></li>
      <li><strong>Computer Science Engineering, Computing Science (Algonquin College) <small class="text-muted">2010 - 2013</small></strong></li>
    </ul>

    <h5>Work</h5>
    <ul>
      <li><strong>Software Developer (Secure Technologies International) <small class="text-muted">2009 - Present</small></strong></li>
      <li><strong>Systems Administrator (Secure Technologies International) <small class="text-muted">2008 - 2009</small></strong></li>
    </ul>

    <h3>&nbsp;</h3>
    <%= render 'social' %>
  </div>
</div>