<h1><%= @settings['about']['name'] %></h1>
<div class="mininav-container hidden-xs">
  <ul class="nav nav-pills nav-justified">
    <li><a href="#projects" onclick="return scrollTo('#projects');">Projects</a></li>
    <li><a href="#about" onclick="return scrollTo('#about');">About</a></li>
  </ul>
</div>

<h2>Software Developper</h2>
<%= render 'social' %>