<h2>Projects</h2>

<% @settings['projects'].each do |project| -%>
  <div class="wide small">
    <h3><%= project['name'] %></h3>
    <% project['desc'].each do |desc| -%>
      <p><%= desc %></p>
    <% end %>

    <% if project.has_key? 'github' %>
      <a class="btn btn-sm btn-social-icon btn-github" target="_blank" rel="noopener" href="<%= project['github'] %>">
        <span class="fa fa-github"></span>
      </a>
    <% end %>
    
    <% if project.has_key? 'web' %>
      <a class="btn btn-sm btn-social-icon btn-linkedin" target="_blank" rel="noopener" href="<%= project['web'] %>">
        <span class="glyphicon glyphicon-globe"></span>
      </a>
    <% end %>
  </div>
<% end -%>