<nav class="dropdown btn-group btn-nav">
  <button type="button" class="btn btn-default dropdown-toggle" id="menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"">
    <span class="sr-only">Toggle navigation</span>
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="menu-dropdown">
    <li><a href="#" onclick="return scrollTo('#top');">Back to top</a></li>
    <li><a target="_blank" href="/Richard%20Carson%20-%20Resume.pdf">Download Resume</a></li>
    <li role="separator" class="divider"></li>
      <li><a href="#projects" onclick="return scrollTo('#projects');">Projects</a></li>
      <li><a href="#about" onclick="return scrollTo('#about');">About</a></li>
  </ul>
</nav>