<p>
  <a class="btn btn-social-icon btn-github" target="_blank" rel="noopener" href="https://github.com/rscarson">
    <span class="fa fa-github"></span>
  </a>

  <a class="btn btn-social-icon btn-linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/richard-carson-6b765524/">
    <span class="fa fa-linkedin"></span>
  </a>

  <a class="btn btn-social-icon btn-openid" type="button" data-toggle="modal" data-target="#emailModal">
    <span class="glyphicon glyphicon-envelope"></span>
  </a>

  <a class="btn btn-primary" target="_blank" href="/Richard%20Carson%20-%20Resume.pdf">
    <span class="glyphicon glyphicon-save"></span>
    Resume
  </a>
</p>