<p>
  <a class="btn btn-social-icon btn-github" target="_blank" rel="noopener" href="<%= @settings['about']['github'] %>">
    <span class="fa fa-github"></span>
  </a>

  <a class="btn btn-social-icon btn-linkedin" target="_blank" rel="noopener" href="<%= @settings['about']['linkedin'] %>">
    <span class="fa fa-linkedin"></span>
  </a>

  <a class="btn btn-social-icon btn-openid" type="button" data-toggle="modal" data-target="#emailModal">
    <span class="glyphicon glyphicon-envelope"></span>
  </a>

  <a class="btn btn-primary" target="_blank" href="<%= @settings['about']['resume'] %>">
    <span class="glyphicon glyphicon-save"></span>
    Resume
  </a>
</p>